.Education {
  padding-top: 20px;
}

.Education h1 {
  margin-bottom: 20px;
}

.Education > div {
  padding-left: 25px;
  margin-bottom: 25px;
}

.Education > div > div {
  transform: translateX(20%);
}
