.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  max-width: 540px;
}

.experienceInputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
