.labelInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  gap: 30px;
}

.labelInput input,
.labelInput textarea {
  min-width: 320px;
  min-height: 25px;
}

.dateInputs {
  display: flex;
}

input[type="date"] {
  min-width: 150px;
}
