/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-size: 21px;
}

#root {
  display: flex;
  justify-content: space-around;
}

input,
textarea {
  font-size: 0.86em;
  padding: 5px;
}

/* .leftSide */

.leftSide {
  max-width: 33vw;
}

.leftSide > * {
  border-top: 1px solid blue;
  padding: 10px;
}

.leftSide > :nth-child(1) {
  border-top: none;
}

.labelInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25px;
  gap: 30px;
}

.labelInput input,
.labelInput textarea {
  min-width: 320px;
  min-height: 25px;
}

h1 {
  font-size: 1.52em;
  font-weight: bold;
}

h2 {
  font-size: 1.143em;
  font-weight: 800;
}

.section1,
.section2,
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  gap: 10px;
  max-width: 540px;
}

.dateInputs {
  display: flex;
}

input[type="date"] {
  min-width: 150px;
}

.generalInputs,
.schoolInputs,
.collegeInputs,
.experienceInputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* section2 */

.section2 > div {
  margin-left: 30px;
}

.section2 > div > h2 {
  margin-bottom: 10px;
}

.section2 > :nth-child(3) {
  margin-top: 25px;
}

.rightSide {
  width: 70.92vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  gap: 50px;
}

.rightSide > * {
  padding-right: 50px;
  padding-left: 50px;
}

.GeneralInfo img {
  position: absolute;
  right: 0%;
  margin-right: 30px;
  border-radius: 50%;
  margin-top: 30px;
}

.GeneralInfo {
  position: relative;
  padding-top: 50px;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.phoneNo,
.email {
  display: flex;
  align-items: center;
  gap: 20px;
}

.GeneralInfo h1 {
  font-size: 2.48em;
}

.GeneralInfo h2 {
  padding-top: 10px;
  padding-left: 30px;
  font-size: 1.33em;
}

.reach {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Education */

.Education {
  padding-top: 20px;
}

.Education h1 {
  margin-bottom: 20px;
}

.Education > div {
  padding-left: 25px;
  margin-bottom: 25px;
}

.Education > div > div {
  transform: translateX(20%);
}

/* Experience */

h3 {
  font-weight: 800;
}
.Experience > div {
  padding-top: 25px;
  padding-left: 25px;
}

.years {
  transform: translateX(20%);
  font-size: 0.78em;
}

.Experience h2,
.Experience h3 {
  margin-bottom: 5px;
}

.Experience > div > p {
  margin-top: 10px;
  font-size: 0.86em;
}
